.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Align container at the bottom */
    height: 40vh;
}

.encounter-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width:800px;
    border: 6px solid #000; /* Add a white border */
    border-radius: 1px; /* Add border radius */
    padding: 20px; /* Add some padding */
    margin-top: 5rem;
    background-image: url("../assets/pictures/starry_background.jpg");
}

#text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#text-box {
    position: relative;
    background-color: rgb(0 0 0 / 80%);
    padding: 10px;
    border-radius: 5px;
    width: 800px;
    height: 125px;
}

#text-content {
    color: white;
    margin: 0;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'VT323';
    font-size: 20px;
    width: 750px; /* set this to 600px if including the headshot again */
}

#headshot-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border: 1px solid black;
    z-index: 10;
}

#headshot-img {
    width: 80px; /* Set the desired width */
    height: 80px; /* Set the desired height */
}

#next-button {
    padding: 10px 20px;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    height: 50px;
    margin: 2rem;
}

.option-button {
    margin: 10px;
    padding: 10px 20px;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/pictures/Tile_37.png");
}
