/* Reset styles for consistent browser rendering */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style for page title */
h1 {
    font-size: 48px;
    text-align: center;
    margin: 50px 0;
}

body{
    text-align: center;
    align-items: center;
    color:white;
    background-image: url("../assets/pictures/fortune_backround.png");
}

/* Style for button container */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for encounter button */
.encounter-button {
    background-image: url('../assets/buttons/button-green.png');
}


/* Hover styles for buttons */
.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Active styles for buttons */
.button:active {
    transform: scale(0.9);
}

.flip-card {
    align-items: center;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Safari */
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    background-image: url("../assets/pictures/main_border.png");
    background-size: cover;
  }

  .fortune-content {
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 10rem;
}