/* Reset styles for consistent browser rendering */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style for page title */
h1 {
    font-size: 48px;
    text-align: center;
    margin: 50px 0;
    
}

body{
    text-align: center;
    align-items: center;
    color:white;
}

body {
    background-image: url("/assets/pictures/fortune-table.png");
    background-size: cover;
}

/* Background color for home page */
body {
    background-color: rgb(227, 158, 236);
}

/* Style for button container */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }

/* Style for fortune button */
.fortune-button {
    background-color: lightslategray;
}

/* Style for encounter button */
.encounter-button {
    background-image: url('../assets/buttons/button-green.png');
}


/* Hover styles for buttons */
.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Active styles for buttons */
.button:active {
    transform: scale(0.9);
}

.flip-card {
    align-items: center;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  