/* Style for page title */
h1 {
    font-size: 48px;
    text-align: center;
    margin: 50px 0;
    font-family: "Copperplate", Copperplate, fantasy;
}

/* Style for button container */
.button-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Style for start button */
.start-button {
    background-color: lightslategray;
}

/* Style for credits button */
.credits-button {
    background-color: lightslategray;
}

/* Style for help button */
.help-button {
    background-color: lightslategray;
}

/* Background color for home page */
body {
    background-color: rgb(227, 158, 236);
}
