@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* Style for page title */
h1 {
    padding-top: 75px;
    font-size: 48px;
    text-align: center;
    margin: 50px 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

h2 {
    margin: 30px;
}

/* Style for button container */
.button-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Style for start button */
.start-button {
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}

/* Style for credits button */
.credits-button {
    font-family: 'Josefin Sans', sans-serif;
}

/* Style for help button */
.help-button {
    font-family: 'Josefin Sans', sans-serif;
}


/* Background color for home page */
body {
    background-image: url("/assets/pictures/WelcomeBackground.png");
}
  
  .credits-button, .start-button, .help-button {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ..credits-button:active, .start-button:active, .help-button {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  .start-button, .credits-button, .help-button {
    position: relative;
    display: block;
    margin: 10px;
    font-family: 'VT323';
    text-transform: uppercase;
    
    font-size: 25px;
    color: white;
  }
  
  .start-button::before, .credits-button::before, .help-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
  }
  
  .start-button::after, .credits-button::after, .help-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
  }
  
  .start-button, .credits-button, .help-button{
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
  }

/* Style for contents*/
ul,ol {
    font-size: 20px;
    margin: 60px;
}
div {
    font-size: 20px;
    margin: 60px;
}

/* Style for back button*/
.back-button {
    background-image: url('../assets/buttons/button-blue.png');
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); */
}

