name: CI/CD Full Pipeline

on:
  push:
    branches: ["main", "pipeline", "development"]
  pull_request:
    branches: ["main", "pipeline", "development"]

  workflow_dispatch:

jobs:
  build:
    name: CI/CD Full Pipeline
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
        
      - name: Lint Code
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_CSS: true
          VALIDATE_HTML: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install
        run: npm install
      - name: Test
        run: npm run test:local
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: logs
          path: logs

      - name: Documentation Generation
        uses: andstor/jsdoc-action@v1.2.1
        with:
          source_dir: ./js
          recurse: true
          output_dir: ./specs/docs
          template: docdash
          front_page: README.md

