name: CI/CD Full Pipeline

on:
  push:
    branches: ["main", "pipeline", "development"]
  pull_request:
    branches: ["main", "pipeline", "development"]

  workflow_dispatch:

jobs:
  build:
    name: Checkout Code
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0        

  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Super-Linter
        uses: super-linter/super-linter@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_CSS: true
          VALIDATE_HTML: true
  testing:
    name: Test Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install
        run: npm install
      - name: Test
        run: npm run test:local
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: logs
          path: logs
  docs:
    name: Documentation Generation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install
        run: npm install
      - name: Generate Docs
        run: npm run docs
      - name: Commit JSDOCS
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: noreply@github.com
          message: 'Generated Docs'
          add: 'specs/docs/*'
